@import url('https://fonts.googleapis.com/css2?family=Exo+2:wght@300;400;500;600;700;800&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #111827;
  color: #f9fafb;
  font-family: 'Exo 2', sans-serif;
  overflow-x: hidden;
}

.gradient-text {
  background: linear-gradient(90deg, #007BFF, #6AB7FF);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}